html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-container {
  display: flex;
}

.homepage-slider {

}

  .homepage-slider img {

  }

.flex-container {
  display: inline-flex;
  flex-direction: column;
  /* border: 3px solid #ffcc00;
  width: 33%;
  height: 30em;
  flex-wrap:wrap; */
  
}

.flex-item {
  color: #fff;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
  flex-grow: 1;
}

.flex-item:first-child {
  background-color: #A62E5C;
}

.flex-item:nth-child(2) {
  background-color: #9BC850;
}

.flex-item:nth-child(3) {
  background-color: purple;
}
.flex-item:nth-child(4) {
  background-color: #A62E5C;
}

.flex-item:nth-child(5) {
  background-color: #9BC850;
}

.flex-item:nth-child(6) {
  background-color: purple;
}

.flex-item:nth-child(7) {
  background-color: #9BC850;
}

.flex-item:nth-child(8) {
  background-color: purple;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: row-reverse;
  }
}